@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode */
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 96%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 0%;
    --radius: 1rem;
  }

  .dark {
    /* Dark Mode (True Black OLED) */
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 5%; /* Sedikit lebih terang dari background biar ada layer */
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 8%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 11%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 11%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 14.9%; 
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    /* BORDER LEBIH TEGAS DI DARK MODE */
    --border: 0 0% 20%; /* Naik dari 14% ke 20% biar kelihatan */
    --input: 0 0% 20%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased font-sans selection:bg-white/20 tracking-tight;
  }
  
  /* LENIS RECOMMENDED CSS */
  html.lenis, html.lenis body {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  .lenis.lenis-scrolling iframe {
    pointer-events: none; /* Biar iframe gak ganggu scroll */
  }

  /* GPU ACCELERATION HACK */
  main {
    will-change: transform;
    transform: translateZ(0);
  }
  
  .glass {
    @apply bg-black/60 backdrop-blur-xl border border-white/20; /* Border Glass lebih tegas */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}